body {
    padding: 20px;
    font-family: sans-serif;
    background-color: #efefef;
    color: #808080;
    min-height: 100vh;
}

// Todo move this to separate file
// Search-form
.search-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
        flex: 6;
        margin-bottom: 10px;
    }

    .control {
        flex: 1;

        button.is-link {
            width: 100%;
            background-color: #808080;
            transition: background-color 250ms;

            &:hover {
                background-color: #717171;
            }
        }
    }
}

@media (min-width: 576px) {
    .search-form {
        flex-direction: row;

        label {
            margin-bottom: 0;
            margin-right: 10px;
        }
    }
}

// CurrentWeather

.current-weather, .average-pressure, .forecast-weather {
    margin-bottom: 15px;
}
.current-weather {
    .name {
        font-size: 38px;
        line-height: 1;
    }

    .description {
        font-size: 16px;

        &:first-letter {
            text-transform: capitalize
        }
    }
    .details {
        display: flex;

        .icon-temperature {
            display: flex;
            align-items: center;

            img {
                height: 100px;
            }

            .temperature {
                font-size: 30px;
                font-weight: bold;
            }
        }

        .humidity-pressure, .wind, .wind-direction {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 30px;
        }

        .wind-direction {
            i {
                font-size: 50px;
            }
        }
    }
}