header {
    display: flex;
    align-items: center;
    min-height: 80px;
    margin-bottom: 15px;

    .title {
        font-size: 45px;
        color: #808080;
    }

    .logo {
        font-size: 80px;
        margin-right: 20px;
    }
}