#search-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
        flex: 6;
        margin-bottom: 10px;

        input {
            &:first-letter {
                text-transform: capitalize;
            }
        }
    }

    .control {
        flex: 1;

        button.is-link {
            width: 100%;
            background-color: #808080;
            transition: background-color 250ms;

            &:hover {
                background-color: #717171;
            }
        }
    }
}

@media (min-width: 576px) {
    #search-form {
        flex-direction: row;

        label {
            margin-bottom: 0;
            margin-right: 10px;
        }
    }
}