body {
  padding: 20px;
  font-family: sans-serif;
  background-color: #efefef;
  color: #808080;
  min-height: 100vh; }

#weather-app .tile-wrapper {
  padding: 5px; }
  #weather-app .tile-wrapper:nth-of-type(3n+3) {
    padding-right: 0; }
  #weather-app .tile-wrapper:nth-of-type(3n+1) {
    padding-left: 0; }

.loader-wrapper {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center; }

.spinner {
  width: 120px;
  height: 120px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear; }

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #808080;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
header {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin-bottom: 15px; }
  header .title {
    font-size: 45px;
    color: #808080; }
  header .logo {
    font-size: 80px;
    margin-right: 20px; }

#search-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }
  #search-form label {
    flex: 6;
    margin-bottom: 10px; }
    #search-form label input:first-letter {
      text-transform: capitalize; }
  #search-form .control {
    flex: 1; }
    #search-form .control button.is-link {
      width: 100%;
      background-color: #808080;
      transition: background-color 250ms; }
      #search-form .control button.is-link:hover {
        background-color: #717171; }

@media (min-width: 576px) {
  #search-form {
    flex-direction: row; }
    #search-form label {
      margin-bottom: 0;
      margin-right: 10px; } }
.current-weather, .average-pressure, .forecast-weather {
  margin-bottom: 15px; }

.current-weather .name {
  font-size: 38px;
  line-height: 1; }
.current-weather .description {
  font-size: 16px; }
  .current-weather .description:first-letter {
    text-transform: capitalize; }
.current-weather .details {
  display: flex;
  flex-direction: column; }
  .current-weather .details .icon-temperature {
    display: flex;
    align-items: center; }
    .current-weather .details .icon-temperature img {
      height: 100px; }
    .current-weather .details .icon-temperature .temperature {
      font-size: 30px;
      font-weight: bold; }
  .current-weather .details .humidity-pressure, .current-weather .details .wind, .current-weather .details .wind-direction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0; }
  .current-weather .details .wind-direction i {
    font-size: 50px;
    width: 40px; }

@media (min-width: 576px) {
  .current-weather .details {
    flex-direction: row; }
    .current-weather .details .humidity-pressure, .current-weather .details .wind, .current-weather .details .wind-direction {
      margin-left: 30px; } }
#not-found h2 {
  font-size: 38px; }
  #not-found h2:first-letter {
    text-transform: capitalize; }

/*# sourceMappingURL=main.css.map */
